<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin" />

    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>博客列表 - {{config "String" "title" "zdf'Blog"}}</title>
    <link rel="stylesheet" href="/static/css/blog-common.min.css" />
    <link id="MainCss" rel="stylesheet" href="/static/css/bundle-codinglife.min.css" />
    <link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="/static/css/bundle-codinglife-mobile.min.css" />
    <link rel="stylesheet" href="/static/css/{{$.bgClass}}.css" />
</head>

<body>
<a name="top"></a>
<!--done-->
<div id="home">
    {{template "home/header.html" .}}

    <div id="main">
        <div id="mainContent">
            <div class="forFlow">

            </div><!--end: forFlow -->

        </div><!--end: mainContent 主体内容容器-->

        <div id="sideBar">
            {{template "home/right.html" .}}
        </div><!--end: sideBar 侧边栏容器 -->
        <div class="clear"></div>
    </div><!--end: main -->

    {{template "home/footer.html" .}}
    <!--end: footer -->
</div><!--end: home 自定义的最大容器 -->

</body>
</html>